<a href="https://colab.research.google.com/github/akshithamaddi/Akshitha_INFO5731_Spring2020/blob/master/Copy_of_Copy_of_INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [0]:
import random
#generating a list of 12 numbers between 1 and 100
list1 = [random.randint(1,100) for _ in range(12)]
print('list of random numbers between 1 and 100:',list1)
#sorting the list in ascending order
list2=list1
list2.sort()
print('sorted list in ascending order:',list2)
#sorting the list in descending order
list3=list1
list3.sort(reverse=True)
print('sorted list in descending order',list3)
#calculating the average for the group
print('sum of the list',sum(list1))
print('length of the list',len(list1))
avg=sum(list1) / len(list1)
print("Average of the list =", round(avg, 2))

list of random numbers between 1 and 100: [21, 80, 21, 84, 2, 30, 48, 96, 74, 77, 7, 66]
sorted list in ascending order: [2, 7, 21, 21, 30, 48, 66, 74, 77, 80, 84, 96]
sorted list in descending order [96, 84, 80, 77, 74, 66, 48, 30, 21, 21, 7, 2]
sum of the list 606
length of the list 12
Average of the list = 50.5

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [0]:
# Your code here
import re
import string
vowels = 'aeiou'
#1.code to enter two Sentences
s1=input('Enter the first sentence\t')
s2=input('Enter the second sentence\t')
#2.Making Each sentence into a list
print("Making the sentences into a list\n")
spl1=re.findall(r"[A-Za-z@#]+|\S",s1)
print(spl1)
spl2=re.findall(r"[A-Za-z@#]+|\S",s2)
print(spl2)
#3.common words in both the sentences
list3 = list(set(spl1)&set(spl2))
print("common words in both the list\t\t",list3)
#4.removing the special characters from two strings 
no_specials_string1 = re.sub('[!#?,.:";]', ' ', s1)
print("First sentence without punctuation\t\t",no_specials_string1)
no_specials_string2 = re.sub('[!#?,.:";]', ' ', s2)
print("Second sentence without punctuation\t\t",no_specials_string2)
#5.counting the number of vowels in both sentence.
str3=(s1+ ' ' +s2)
str3 = str3.casefold()

# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in str3:
   if char in count:
       count[char] += 1

print("Vowels in both the sentences",count)

Enter the first sentence	I am akshitha.I live in denton
Enter the second sentence	university of north texas:denton
Making the sentences into a list

['I', 'am', 'akshitha', '.', 'I', 'live', 'in', 'denton']
['university', 'of', 'north', 'texas', ':', 'denton']
common words in both the list		 ['denton']
First sentence without punctuation		 I am akshitha I live in denton
Second sentence without punctuation		 university of north texas denton
Vowels in both the sentences {'a': 4, 'e': 5, 'i': 7, 'o': 4, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [0]:
# Your code here
# Python Program to find Volume
from prettytable import PrettyTable
x = PrettyTable()
x.field_names = ["r", "V"]
PI = 3.14
for radius in range(1,11):
   Volume = (4 / 3) * PI * radius * radius * radius
   x.add_row([radius,Volume])
print(x)

+----+--------------------+
| r  |         V          |
+----+--------------------+
| 1  | 4.1866666666666665 |
| 2  | 33.49333333333333  |
| 3  | 113.03999999999998 |
| 4  | 267.94666666666666 |
| 5  | 523.3333333333334  |
| 6  | 904.3199999999998  |
| 7  | 1436.0266666666666 |
| 8  | 2143.5733333333333 |
| 9  |      3052.08       |
| 10 | 4186.666666666667  |
+----+--------------------+

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file Assignment1_denton_housing.csv included with this assignment. The file Assignment1_denton_housing.csv contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [0]:
# Your code here
from google.colab import files
uploaded = files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

In [0]:
import io
import pandas as pd
df1 = pd.read_csv(io.BytesIO(uploaded['Assignment1_denton_housing.csv']))

In [0]:
import csv
import pandas as pd
current_title_field= ' '
v=2008
temp=0
difference=[]

with open('Assignment1_denton_housing.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    for row in csvReader:
      current_title_field=row[1]
      if current_title_field == 'Occupied Housing Units':
          if(temp != 0):
            difference.append(temp-int(row[2]))
          v=v+1
          temp=int(row[2])
    difference.sort()
    print("No of occupied housing units in all the consecutive years:",difference)

No of occupied housing units in all the consecutive years: [-795, -303, 1404, 1565, 2622, 5091]

In [0]:
import csv
import pandas as pd
import csv

curr_total = 0
temp_year = []
total_value = []
vacant_value = []
occupied_value = []


with open('Assignment1_denton_housing.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    print("year"+"  "+"vacant Housing Units"+" "+"Occupied Housing Units\n")
    for row in csvReader:
      if(row[0]!='year'):
        if(row[1]=='Total Housing Units'):
         temp_year.append(int(row[0]))
         curr_total = int(row[2])
         total_value.append(int(row[2]))
        if(row[1]=='Vacant Housing Units'):
         temp_vacant = (int(row[2])/curr_total)*100
         vacant_value.append(temp_vacant)
        if(row[1]=='Occupied Housing Units'):
         temp_occupied = (int(row[2])/curr_total)*100
         occupied_value.append(temp_occupied)
    for y, v, oc in zip(temp_year,vacant_value,occupied_value):
      print(y,v,'%',oc,'%')

year  vacant Housing Units Occupied Housing Units

2014 5.730110570363885 % 94.26988942963611 %
2013 8.801787504176412 % 91.19821249582358 %
2012 6.677600230491346 % 93.32239976950866 %
2011 9.379522229890688 % 90.6204777701093 %
2010 8.142556337081672 % 91.85744366291833 %
2009 9.07111572444872 % 90.92888427555128 %
2008 10.88265281351653 % 89.11734718648347 %

In [0]:
import csv
import operator
import pandas as pd
curr_total = 0
temp_year = []
total_value = []
vacant_value = []
occupied_value = []
vac_year = {}
occ_year = {}
import csv

with open('Assignment1_denton_housing.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    print("\t\t\tyear\t","value")
    for row in csvReader:
      if(row[0]!='year'):
        if(row[1]=='Vacant Housing Units'):
         vac_year.update({row[0]:int(row[2])})
        if(row[1]=='Occupied Housing Units'):
         occ_year.update({row[0]:int(row[2])})
    max_vac_year = max(vac_year.items(), key=operator.itemgetter(1))
    max_occ_year = max(occ_year.items(), key=operator.itemgetter(1))
    print("Vacant Housing Units\t",max_vac_year)
    print("Occupied Housing Units\t", max_occ_year)

			year	 value
Vacant Housing Units	 ('2008', 4483)
Occupied Housing Units	 ('2014', 46295)

In [0]:
import csv
import pandas as pd
import csv
import statistics

temp_house = []

with open('Assignment1_denton_housing.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    for row in csvReader:
      if(row[0]!='year'):
        if(row[1]=='Total Housing Units'):
         temp_house.append(int(row[2]))
    print("Harmonic mean of Total Housing Units:",statistics.harmonic_mean(temp_house))

Harmonic mean of Total Housing Units: 44398.28543969185