<a href="https://colab.research.google.com/github/akshithamaddi/Akshitha_INFO5731_Spring2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
a="Hello,This is Akshitha"
print(len(a))

22

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
a = 'google.com'
dict((c,a.count(c)) for c in set(a))

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list

In [0]:

total = 0

list = [1, 2, 3, 4, 5]  
  
for i in range(0, len(list)): 
    total = total + list[i] 
  

print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
a='restart'
char=a[0]
a=a.replace(char,'$')
a=char+a[1:]

print(a)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
a=input('enter value for a:')
b=input('enter value for b:')
c=int(a) /int(b)
d=1+c
e=d*d*d
S=3.14*e
print(S)

enter value for a:10
enter value for b:5
84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
tuple = ("a", "k", "s", "h", "i", "t", "h", "a")
print("r" in tuplex)
print("a" in tuplex)

False
True

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
a = set([100, 15, 3, 15, 2, 10])
print(max(a))
print(min(a))

100
2

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
import random
studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  sampling =random.choices(studnet_list, k=4)
  studnet_list = [i for i in studnet_list if i not in sampling]
  print("Group " +str(i+1)+": ",sampling)

Group 1:  ['sa0753', 'nk0327', 'pb0283', 'ss1872']
Group 2:  ['vk0216', 'lba0043', 'dp1080', 'vcd0017']
Group 3:  ['ap0975', 'ak0860', 'rp0477', 'pk0292']
Group 4:  ['an0521', 'mk0830', 'al0787', 'tpk0023']