<a href="https://colab.research.google.com/github/akshithamaddi/Akshitha_INFO5731_Spring2020/blob/master/Extracting_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install textblob
import pandas as pd
from nltk.corpus import stopwords
import string
from nltk.stem import WordNetLemmatizer
import nltk
from nltk import word_tokenize, pos_tag, pos_tag_sents
from textblob import Word
from nltk.stem import PorterStemmer

nltk.download('stopwords')
st=PorterStemmer()
stop=stopwords.words('english')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

Requirement already satisfied: textblob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob) (1.12.0)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
#table 1
import json
import pandas
from pandas import DataFrame
topicListString = ""
Venuelist = []
Titlelist = []
Yearlist = []
Abstractlist = []
Doilist = []
FieldsOfStudylist = []
Topiclist = []
urllist = []
influentialCitationCountlist = []
totalcitationcountlist = []
#articleidlist = []
#pdfdownloadlist = []
for i in range(968):
  topicListString = ""
  f = open('/content/jsonfiles/Article' + str(i) + '.json')
  data = json.load(f)
  venue = data['venue']
  Venuelist.append(venue)
  title = data['title']
  Titlelist.append(title)
  year = data['year']
  Yearlist.append(year)
  abstract = data['abstract']
  Abstractlist.append(abstract)
  doi = data['doi']
  Doilist.append(doi)
  fieldsOfStudy = data['fieldsOfStudy']
  FieldsOfStudylist.append(fieldsOfStudy)
  influentialCitationCount = data['influentialCitationCount']
  influentialCitationCountlist.append(influentialCitationCount)
  totalcitationcount = len(data['citations'])
  totalcitationcountlist.append(totalcitationcount)
  for value in data['topics']:
    topic = value['topic']
    #Topiclist.append(topic)
    topicListString = topicListString + ","+ topic
  url = data['url']
  urllist.append(url)
  topicListString = topicListString[1:]
  Topiclist.append(topicListString)   
f.close()

In [0]:
#table1 articleid and pdf link
  articleidlist=[]
  pdfdownloadlist = []
  string = 'https://doi.org/'
  for item in Doilist:
    articleidlist.append(string+str(item))
string1 = 'https://dl.acm.org/doi/pdf/'
string2='?download=true' 
  for item in Doilist:
    pdfdownloadlist.append(string1+str(item)+string2)

In [0]:
import pandas as pd
import glob
import pandas as pd
import os
import string

# Select all the files in your directory
fields = ["TotalDownloadCount"]
dfarticle = pd.read_csv("table1_akshitha.csv", usecols=fields)
#totalcitationlist = dfarticle['total_citation'].values.tolist()
totaldownloadlist = dfarticle['TotalDownloadCount'].values.tolist()
a = {'Article_id' : articleidlist ,'Venue' : Venuelist ,'Title' : Titlelist ,'Year' :Yearlist, 'Abstract': Abstractlist,
     'Doi' : Doilist,'fieldsOfStudy' : FieldsOfStudylist, 'topics': Topiclist , 'Downloadurl' : pdfdownloadlist,'TotalCitationCount' : totalcitationcountlist,
      'TotalDownloadCount' : totaldownloadlist,'Influentialcitationcount' : influentialCitationCountlist}
df = pd.DataFrame.from_dict(a, orient='index')
df1 = df.transpose()
df1["Abstract"]=df1["Abstract"].str.lower() 
df1['Abstract'] = df1['Abstract'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop)]))
df1["Abstract"]=df1['Abstract'].str.replace('[{}]'.format(string.punctuation), '')
df1['fieldsOfStudy'] = df1['fieldsOfStudy'].apply(str)
df1['fieldsOfStudy'] = df1['fieldsOfStudy'].str.replace('[{}]'.format(string.punctuation), '')
df1['fieldsOfStudy']
df1 = df1[pd.notnull(df1['Article_id'])]
df1.to_csv('/content/jsonfiles/table1.csv', columns = a)
df1

                                Article_id  ... Influentialcitationcount
0    https://doi.org/10.1145/511285.511286  ...                        0
1    https://doi.org/10.1145/511285.511288  ...                        0
2    https://doi.org/10.1145/511285.511289  ...                        0
3    https://doi.org/10.1145/511285.511290  ...                        0
4    https://doi.org/10.1145/511285.511292  ...                        0
..                                     ...  ...                      ...
963  https://doi.org/10.1145/345508.345670  ...                        0
964  https://doi.org/10.1145/345508.345671  ...                        1
965  https://doi.org/10.1145/345508.345672  ...                        0
966  https://doi.org/10.1145/345508.345673  ...                        0
967  https://doi.org/10.1145/345508.345674  ...                        0

[968 rows x 12 columns]

In [0]:
import json
import pandas
from pandas import DataFrame
authorIdlist = []
authorname = []
authorurl = []
Doilist = []
authorrank = []
#authorinstitution = []
#publicationcount = []
for i in range(968):
  f = open('/content/jsonfiles/Article' + str(i) + '.json')
  data = json.load(f)
  string = 'https://doi.org/'
  articleidlist = [string+x for x in Doilist]
  doi = data['doi']
  for value in data['authors']:
    Doilist.append(doi)
    authorId = value['authorId']
    authorIdlist.append(authorId) 
  for value in data['authors']:
    name = value['name']
    authorname.append(name) 
  for value in data['authors']:
    url = value['url']
    authorurl.append(url)
  for value in data['authors']:
    rank = value['authorId']
    authorrank.append(authorId)
f.close()

In [0]:
import pandas as pd
import glob
import pandas as pd
import os
# Select all the files in your directory
a = {'article_id': Doilist, 'authorId' : authorIdlist ,'name' : authorname ,'url' : authorurl,'Publicationcount':publicationcount}
df = pd.DataFrame.from_dict(a, orient='index')
df1 = df.transpose()
abc = df1['article_id']
abc = abc.tolist()
new_df12 = pd.DataFrame(abc, columns=['c1_new'])
hope = new_df12['c1_new'].value_counts(sort=False).to_dict()
new_hope = []
keys = new_df12['c1_new'].unique()
keys
for key in keys:
  values = hope[key]
  for i in range(1,values+1):
    new_hope.append(i)
new_df12['Rank']=new_hope
df1['Rank']=new_hope
df1.to_csv('/content/jsonfiles/table2.csv')
df1

                 article_id    authorId  ... Publicationcount Rank
0     10.1145/511285.511286     1777876  ...              252    1
1     10.1145/511285.511286   144890509  ...                7    2
2     10.1145/511285.511288     2523724  ...               18    1
3     10.1145/511285.511288     2641020  ...               48    2
4     10.1145/511285.511289  1401061734  ...               13    1
...                     ...         ...  ...              ...  ...
2212  10.1145/345508.345672     2020016  ...                8    4
2213  10.1145/345508.345673    35319335  ...               25    1
2214  10.1145/345508.345673     1755484  ...               83    2
2215  10.1145/345508.345674    46269552  ...               17    1
2216  10.1145/345508.345674   144890574  ...              465    2

[2217 rows x 6 columns]

In [0]:
import csv
import itertools
contents = []
with open('/content/jsonfiles/table2.csv','r') as csvf:
    urls = csv.reader(csvf)
    next(urls, None)
    contents = [row[2] for row in itertools.islice(urls,2217)] 
string = 'https://api.semanticscholar.org/v1/author/'
my_new_list = [string+x for x in contents]
with open("Article_URLs.csv","w") as f:
    writer = csv.writer(f,delimiter="\n")
    writer.writerow(['ArticleURL'])
    writer.writerow(my_new_list)

In [0]:
import json
import pandas
from pandas import DataFrame
import urllib.request
from urllib.request import Request, urlopen
from urllib.error import URLError, HTTPError
import time
countUp = 0
headers = {}
headers['User-Agent'] = 'Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.27 Safari/537.17'
publicationcount = []
for i in range(2217):
   try:
     webUrl  = urllib.request.urlopen(my_new_list[i])
     data = webUrl.read()
     count =str(data).count('paperId')
     time.sleep(2)
     
     time.sleep(0.1)
     countUp += 1
   except HTTPError as e:
     pass
     print('The server couldn\'t fulfill the request.')
     print('Error code:' , e.code)
     count='NaN'
     time.sleep(30) 
   except URLError as e:
     print('We failed to reach a server.')
     print('Reason: ', e.reason)
     time.sleep(30)    
 
   #print(str(count) + ' ' + str(i))
   publicationcount.append(count)

The server couldn't fulfill the request.
Error code: 403
The server couldn't fulfill the request.
Error code: 403
The server couldn't fulfill the request.
Error code: 404
The server couldn't fulfill the request.
Error code: 404
The server couldn't fulfill the request.
Error code: 404

In [0]:
#table 3
import json
import pandas
from pandas import DataFrame
article_id = []
citingpaperId = []
citingdoi = []
citingtitle = []
citingvenue = []
citingyear = []
citingintent = []
citinginfluential = []
for i in range(968):
  f = open('/content/jsonfiles/Article' + str(i) + '.json')
  data = json.load(f)
  article_data = data['doi']
  for value in data['citations']:
    paperId = value['paperId']
    citingpaperId.append(paperId)
    doi = value['doi']
    article_id.append(article_data)
    citingdoi.append(doi)
    title = value['title']
    citingtitle.append(title)
    venue = value['venue']
    citingvenue.append(venue)
    year = value['year']
    citingyear.append(year)
    intent = value['intent']
    citingintent.append(intent)
    isInfluential = value['isInfluential']
    citinginfluential.append(isInfluential)  
a = {'article_id': article_id,'paperId' : citingpaperId ,'doi' : citingdoi ,'title' : citingtitle ,
     'venue' :citingvenue, 'year': citingyear,
     'intent' : citingintent,'isInfluential' : citinginfluential}
df = pd.DataFrame.from_dict(a, orient='index')
df1 = df.transpose()
df1['intent'] = df1['intent'].apply(lambda x : ' '.join(map(str, x)))
df1.to_csv('/content/jsonfiles/table3.csv', columns = a)
df1

                  article_id  ... isInfluential
0      10.1145/511285.511288  ...         False
1      10.1145/511285.511288  ...         False
2      10.1145/511285.511288  ...         False
3      10.1145/511285.511288  ...         False
4      10.1145/511285.511288  ...         False
...                      ...  ...           ...
65632  10.1145/345508.345673  ...         False
65633  10.1145/345508.345674  ...         False
65634  10.1145/345508.345674  ...         False
65635  10.1145/345508.345674  ...         False
65636  10.1145/345508.345674  ...         False

[65637 rows x 8 columns]

In [0]:
#table 4
import re
referencepaperidlist = []
Referencepaperdoilist = []
Referencepapertitlelist = []
Referencepapervenuelist = []
Referencepaperyearlist = []
Isinfluentiallist = [] 
Intentlist = []
article_id = []
for i in range(968):
  f = open('/content/jsonfiles/Article' + str(i) + '.json')
  data = json.load(f)
  article_data = data['doi']
  for value in data['references']:
    article_id.append(article_data)
    referencepaperid = value['paperId']
    referencepaperidlist.append(referencepaperid)
    referencepaperdoi = value['doi']
    Referencepaperdoilist.append(referencepaperdoi)
    Referencepapertitle = value['title']
    Referencepapertitlelist.append(Referencepapertitle)
    Referencepapervenue = value['venue']
    Referencepapervenuelist.append(Referencepapervenue)
    Referencepaperyear = value['year']
    Referencepaperyearlist.append(Referencepaperyear)
    Intent = value['intent']
    Intentlist.append(Intent)
    Isinfluential = value['isInfluential']
    Isinfluentiallist.append(Isinfluential)
a = {'article_id': article_id,'Reference_paper_id' : referencepaperidlist ,'Reference _paper_doi' : Referencepaperdoilist ,'Reference _paper_title' : Referencepapertitlelist ,
     'Reference _paper_venue' :Referencepapervenuelist, 'Reference _paper_year': Referencepaperyearlist,
     'Intent' : Intentlist,'Is_influential' : Isinfluentiallist}
df = pd.DataFrame.from_dict(a, orient='index')
df1 = df.transpose()
df1['Intent'] = df1['Intent'].apply(lambda x : ' '.join(map(str, x)))
df1.to_csv('/content/jsonfiles/table4.csv', columns = a)
df1

                 article_id  ... Is_influential
0     10.1145/511285.511286  ...          False
1     10.1145/511285.511286  ...          False
2     10.1145/511285.511286  ...          False
3     10.1145/511285.511286  ...          False
4     10.1145/511285.511286  ...          False
...                     ...  ...            ...
8515  10.1145/345508.345670  ...          False
8516  10.1145/345508.345671  ...          False
8517  10.1145/345508.345671  ...          False
8518  10.1145/345508.345673  ...          False
8519  10.1145/345508.345674  ...          False

[8520 rows x 8 columns]

In [0]:
import numpy as np
import pandas as pd
df = pd.read_csv("Final_Table_1.csv") 
#splitting the dataset into different dataframes for every five years 
df1971to1981 = df[(df['Year'] == 1971) | (df['Year'] == 1978) | (df['Year'] == 1979) | (df['Year'] == 1980) | (df['Year'] == 1981)]
df1982to1986 = df[(df['Year'] == 1982) | (df['Year'] == 1983) | (df['Year'] == 1984) | (df['Year'] == 1985) | (df['Year'] == 1986)]
df1987to1991 = df[(df['Year'] == 1987) | (df['Year'] == 1988) | (df['Year'] == 1989) | (df['Year'] == 1990) | (df['Year'] == 1991)]
df1992to1996 = df[(df['Year'] == 1992) | (df['Year'] == 1993) | (df['Year'] == 1994) | (df['Year'] == 1995) | (df['Year'] == 1996)]
df1997to2001 = df[(df['Year'] == 1997) | (df['Year'] == 1998) | (df['Year'] == 1999) | (df['Year'] == 2000) | (df['Year'] == 2001)]
df2002to2006 = df[(df['Year'] == 2002) | (df['Year'] == 2003) | (df['Year'] == 2004) | (df['Year'] == 2005) | (df['Year'] == 2006)]
df2007to2011 = df[(df['Year'] == 2007) | (df['Year'] == 2008) | (df['Year'] == 2009) | (df['Year'] == 2010) | (df['Year'] == 2011)]
df2012to2016 = df[(df['Year'] == 2012) | (df['Year'] == 2013) | (df['Year'] == 2014) | (df['Year'] == 2015) | (df['Year'] == 2016)]
df2017to2019 = df[(df['Year'] == 2017) | (df['Year'] == 2018) | (df['Year'] == 2019)]

In [49]:
#analysis 
import pandas as pd 
#analysis for fieldofstudy from all 1971 to 2019
data = pd.read_csv("Final_Table_1.csv") 
df1 = data.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = data['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science                      4386
Computer Science Biology                 1
Computer Science Chemistry               1
Computer Science Engineering             2
Computer Science Geography               1
Computer Science Materials Science       1
Computer Science Mathematics            18
Computer Science Medicine                2
Computer Science Physics                 2
Computer Science Psychology              4
Computer Science Sociology               3
Economics Computer Science               1
Engineering Computer Science             2
Mathematics Computer Science             5
Medicine Computer Science                1
Psychology Computer Science              1
Sociology Computer Science               2
dtype: int64

count                 4433
unique                  17
top       Computer Science
freq                  4386
Name: fieldsOfStudy, dtype: object

In [50]:
#analysis for fieldofstudy from all 1971 to 1981
df1971to1981 = df[(df['Year'] == 1971) | (df['Year'] == 1978) | (df['Year'] == 1979) | (df['Year'] == 1980) | (df['Year'] == 1981)]
df1 = df1971to1981.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df1971to1981['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science    66
dtype: int64

count                   66
unique                   1
top       Computer Science
freq                    66
Name: fieldsOfStudy, dtype: object

In [51]:
#analysis for fieldofstudy from all 1982 to 1986
df1982to1986 = df[(df['Year'] == 1982) | (df['Year'] == 1983) | (df['Year'] == 1984) | (df['Year'] == 1985) | (df['Year'] == 1986)]
df1 = df1982to1986.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df1982to1986['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science    95
dtype: int64

count                   95
unique                   1
top       Computer Science
freq                    95
Name: fieldsOfStudy, dtype: object

In [52]:
#analysis for fieldofstudy from all 1987 to 1991
df1987to1991 = df[(df['Year'] == 1987) | (df['Year'] == 1988) | (df['Year'] == 1989) | (df['Year'] == 1990) | (df['Year'] == 1991)]
df1 = df1987to1991.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df1987to1991['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science    168
dtype: int64

count                  168
unique                   1
top       Computer Science
freq                   168
Name: fieldsOfStudy, dtype: object

In [53]:
#analysis for fieldofstudy from all 1992 to 1996
df1992to1996 = df[(df['Year'] == 1992) | (df['Year'] == 1993) | (df['Year'] == 1994) | (df['Year'] == 1995) | (df['Year'] == 1996)]
df1 = df1992to1996.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df1992to1996['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science             179
Computer Science Medicine      1
dtype: int64

count                  180
unique                   2
top       Computer Science
freq                   179
Name: fieldsOfStudy, dtype: object

In [54]:
#analysis for fieldofstudy from all 1997 to 2001
df1997to2001 = df[(df['Year'] == 1997) | (df['Year'] == 1998) | (df['Year'] == 1999) | (df['Year'] == 2000) | (df['Year'] == 2001)]
df1 = df1997to2001.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df1997to2001['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science    354
dtype: int64

count                  354
unique                   1
top       Computer Science
freq                   354
Name: fieldsOfStudy, dtype: object

In [55]:
#analysis for fieldofstudy from all 2002 to 2006
df2002to2006 = df[(df['Year'] == 2002) | (df['Year'] == 2003) | (df['Year'] == 2004) | (df['Year'] == 2005) | (df['Year'] == 2006)]
df1 = df2002to2006.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df2002to2006['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science              632
Computer Science Medicine       1
Computer Science Sociology      1
dtype: int64

count                  634
unique                   3
top       Computer Science
freq                   632
Name: fieldsOfStudy, dtype: object

In [56]:
#analysis for fieldofstudy from all 2007 to 2011
df2007to2011 = df[(df['Year'] == 2007) | (df['Year'] == 2008) | (df['Year'] == 2009) | (df['Year'] == 2010) | (df['Year'] == 2011)]
df1 = df2007to2011.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df2007to2011['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science                      1053
Computer Science Biology                 1
Computer Science Chemistry               1
Computer Science Materials Science       1
Computer Science Mathematics             4
Computer Science Physics                 1
Computer Science Psychology              4
Computer Science Sociology               2
Engineering Computer Science             1
Mathematics Computer Science             1
Medicine Computer Science                1
Psychology Computer Science              1
Sociology Computer Science               2
dtype: int64

count                 1073
unique                  13
top       Computer Science
freq                  1053
Name: fieldsOfStudy, dtype: object

In [57]:
#analysis for fieldofstudy from all 2012 to 2016
df2012to2016 = df[(df['Year'] == 2012) | (df['Year'] == 2013) | (df['Year'] == 2014) | (df['Year'] == 2015) | (df['Year'] == 2016)]
df1 = df2012to2016.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df2012to2016['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science                1092
Computer Science Geography         1
Computer Science Mathematics       2
Computer Science Physics           1
Economics Computer Science         1
Engineering Computer Science       1
Mathematics Computer Science       1
dtype: int64

count                 1099
unique                   7
top       Computer Science
freq                  1092
Name: fieldsOfStudy, dtype: object

In [58]:
#analysis for fieldofstudy from all 2017 to 2019
df2017to2019 = df[(df['Year'] == 2017) | (df['Year'] == 2018) | (df['Year'] == 2019)]
df1 = df2017to2019.groupby('fieldsOfStudy').size()
print(df1)
print()
data1 = df2017to2019['fieldsOfStudy'].describe()
print(data1)

fieldsOfStudy
Computer Science                747
Computer Science Engineering      2
Computer Science Mathematics     12
Mathematics Computer Science      3
dtype: int64

count                  764
unique                   4
top       Computer Science
freq                   747
Name: fieldsOfStudy, dtype: object

In [59]:
#first five authors with maximun number of articles.
df = pd.read_csv("Final_Table_2.csv")
df['authorId'] = df['authorId'].fillna(0).astype(int)
df['count'] = df.groupby('name')['name'].transform('count')
df.drop_duplicates('count', inplace=True)
df.nlargest(5, ['count'])[["name","authorId","count"]]

                  name   authorId  count
49      W. Bruce Croft  144456145    101
2421  Maarten de Rijke    1696030     79
1442     Ryen W. White   34286525     57
1333   ChengXiang Zhai    1736467     52
2363    Leif Azzopardi    1716332     50

In [60]:
#Top five topics from all the years 
topics = pd.read_csv("Final_Table_1.csv")
topics['count'] = topics.groupby('topics')['topics'].transform('count')
topics.drop_duplicates('count', inplace=True)
topics.nlargest(5, ['count'])[["topics","count"]]

                               topics  count
95              Information retrieval   16.0
1294                Web search engine    9.0
246                         Algorithm    5.0
215   Information retrieval,Relevance    4.0
446                   Query expansion    3.0

In [0]:
import numpy as np
import pandas as pd
df = pd.read_csv("Final_Table_1.csv") 
#splitting the dataset into different dataframes for every five years 
df1971to1981 = df[(df['Year'] == 1971) | (df['Year'] == 1978) | (df['Year'] == 1979) | (df['Year'] == 1980) | (df['Year'] == 1981)]
df1982to1986 = df[(df['Year'] == 1982) | (df['Year'] == 1983) | (df['Year'] == 1984) | (df['Year'] == 1985) | (df['Year'] == 1986)]
df1987to1991 = df[(df['Year'] == 1987) | (df['Year'] == 1988) | (df['Year'] == 1989) | (df['Year'] == 1990) | (df['Year'] == 1991)]
df1992to1996 = df[(df['Year'] == 1992) | (df['Year'] == 1993) | (df['Year'] == 1994) | (df['Year'] == 1995) | (df['Year'] == 1996)]
df1997to2001 = df[(df['Year'] == 1997) | (df['Year'] == 1998) | (df['Year'] == 1999) | (df['Year'] == 2000) | (df['Year'] == 2001)]
df2002to2006 = df[(df['Year'] == 2002) | (df['Year'] == 2003) | (df['Year'] == 2004) | (df['Year'] == 2005) | (df['Year'] == 2006)]
df2007to2011 = df[(df['Year'] == 2007) | (df['Year'] == 2008) | (df['Year'] == 2009) | (df['Year'] == 2010) | (df['Year'] == 2011)]
df2012to2016 = df[(df['Year'] == 2012) | (df['Year'] == 2013) | (df['Year'] == 2014) | (df['Year'] == 2015) | (df['Year'] == 2016)]
df2017to2019 = df[(df['Year'] == 2017) | (df['Year'] == 2018) | (df['Year'] == 2019)]

In [95]:
#top 5 topics from the year 1971 to 1981
df1971to1981 = df[(df['Year'] == 1971) | (df['Year'] == 1978) | (df['Year'] == 1979) | (df['Year'] == 1980) | (df['Year'] == 1981)]
df1971to1981['count'] = df1971to1981.groupby('topics')['topics'].transform('count')
df1971to1981.drop_duplicates('count', inplace=True)
df1971to1981.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                               topics  count
33  Information retrieval,Euclidean distance,Docum...    2.0

In [96]:
#top 5 topics from the year 1982 to 1986
df1982to1986 = df[(df['Year'] == 1982) | (df['Year'] == 1983) | (df['Year'] == 1984) | (df['Year'] == 1985) | (df['Year'] == 1986)]
df1982to1986['count'] = df1982to1986.groupby('topics')['topics'].transform('count')
df1982to1986.drop_duplicates('count', inplace=True)
df1982to1986.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                               topics  count
45  Information retrieval,Semantic mapper,Term ind...      1

In [97]:
#top 5 topics from the year 1987 to 1991
df1987to1991 = df[(df['Year'] == 1987) | (df['Year'] == 1988) | (df['Year'] == 1989) | (df['Year'] == 1990) | (df['Year'] == 1991)]
df1987to1991['count'] = df1987to1991.groupby('topics')['topics'].transform('count')
df1987to1991.drop_duplicates('count', inplace=True)
df1987to1991.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                    topics  count
185  Information retrieval    2.0

In [98]:
#top 5 topics from the year 1992 to 1996
df1992to1996 = df[(df['Year'] == 1992) | (df['Year'] == 1993) | (df['Year'] == 1994) | (df['Year'] == 1995) | (df['Year'] == 1996)]
df1992to1996['count'] = df1992to1996.groupby('topics')['topics'].transform('count')
df1992to1996.drop_duplicates('count', inplace=True)
df1992to1996.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                    topics  count
346  Information retrieval    4.0

In [99]:
#top 5 topics from the year 1997 to 2001
df1997to2001 = df[(df['Year'] == 1997) | (df['Year'] == 1998) | (df['Year'] == 1999) | (df['Year'] == 2000) | (df['Year'] == 2001)]
df1997to2001['count'] = df1997to2001.groupby('topics')['topics'].transform('count')
df1997to2001.drop_duplicates('count', inplace=True)
df1997to2001.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                                topics  count
531  Information retrieval,Relevance,Precision and ...    2.0

In [100]:
#top 5 topics from the year 2002 to 2006
df2002to2006 = df[(df['Year'] == 2002) | (df['Year'] == 2003) | (df['Year'] == 2004) | (df['Year'] == 2005) | (df['Year'] == 2006)]
df2002to2006['count'] = df2002to2006.groupby('topics')['topics'].transform('count')
df2002to2006.drop_duplicates('count', inplace=True)
df2002to2006.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

              topics  count
995  Query expansion    2.0

In [101]:
#top 5 topics from the year 2007 to 2011
df2007to2011 = df[(df['Year'] == 2007) | (df['Year'] == 2008) | (df['Year'] == 2009) | (df['Year'] == 2010) | (df['Year'] == 2011)]
df2007to2011['count'] = df2007to2011.groupby('topics')['topics'].transform('count')
df2007to2011.drop_duplicates('count', inplace=True)
df2007to2011.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                 topics  count
1615  Web search engine    6.0

In [102]:
#top 5 topics from the year 2012 to 2016
df2012to2016 = df[(df['Year'] == 2012) | (df['Year'] == 2013) | (df['Year'] == 2014) | (df['Year'] == 2015) | (df['Year'] == 2016)]
df2012to2016['count'] = df2012to2016.groupby('topics')['topics'].transform('count')
df2012to2016.drop_duplicates('count', inplace=True)
df2012to2016.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                     topics  count
2072  Information retrieval    3.0

In [103]:
#top 5 topics from the year 2017 to 2019
df2017to2019 = df[(df['Year'] == 2017) | (df['Year'] == 2018) | (df['Year'] == 2019)]
df2017to2019['count'] = df2017to2019.groupby('topics')['topics'].transform('count')
df2017to2019.drop_duplicates('count', inplace=True)
df2017to2019.nlargest(1, ['count'])[["topics","count"]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                                 topics  count
3908  Text corpus,Probabilistic latent semantic anal...      2

In [94]:
#Most influential authors with the mean of publication count
authordf = pd.read_csv("Final_Table_2.csv")
authordf['authorId'] = authordf['authorId'].fillna(0).astype(int)
authordf.groupby('name')['Publicationcount'].mean()
authordf.drop_duplicates('Publicationcount', inplace=True)
authordf.nlargest(5, ['Publicationcount'])[["name","Publicationcount"]]

            name  Publicationcount
4949   Wei Zhang            4562.0
7238     Wei Liu            4184.0
8597    Wei Chen            3655.0
12982    Feng Li            3067.0
6583   Gang Wang            3053.0

In [87]:
authordf = pd.read_csv("Final_Table_2.csv")
authordf

       Unnamed: 0               article_id  ...  Publicationcount Rank
0               0    10.1145/511285.511286  ...             252.0    1
1               1    10.1145/511285.511286  ...               7.0    2
2               2    10.1145/511285.511288  ...              18.0    1
3               3    10.1145/511285.511288  ...              48.0    2
4               4    10.1145/511285.511289  ...              13.0    1
...           ...                      ...  ...               ...  ...
13513        2876  10.1145/3331184.3331420  ...               4.0    1
13514        2877  10.1145/3331184.3331421  ...              28.0    1
13515        2878  10.1145/3331184.3331422  ...              23.0    1
13516        2879  10.1145/3331184.3331423  ...              10.0    1
13517        2880  10.1145/3331184.3331424  ...              11.0    1

[13518 rows x 7 columns]